## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hobart,AU,17.00,scattered clouds,-42.8794,147.3294,Mantra on Collins Hobart
1,9,Busselton,AU,19.44,light rain,-33.6500,115.3333,Observatory Guest House
2,15,Port Alfred,ZA,20.24,few clouds,-33.5906,26.8910,The Halyards Hotel
3,23,Castro,BR,21.16,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
4,30,Kapaa,US,23.00,scattered clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df[vacation_df["Country"] == "ES"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
33,282,Telde,ES,22.00,few clouds,27.9924,-15.4192,El Baladero Apartamentos
39,327,Muros,ES,21.67,clear sky,42.7762,-9.0603,Apartment Av. Castelao
46,385,Berja,ES,19.00,few clouds,36.8469,-2.9497,Hotel Don Miguel Plaza de Berja
84,626,Aguimes,ES,22.00,few clouds,27.9054,-15.4461,Hotel Villa de Aguimes
86,646,Naron,ES,18.89,clear sky,43.5167,-8.1528,Marcial
92,694,La Baneza,ES,22.78,few clouds,42.3003,-5.8977,Señorio De Los Bazan

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] == "Hotel Don Miguel Plaza de Berja"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] == "Hotel Don Miguel Plaza de Berja"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"] == "Señorio De Los Bazan"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"] == "Apartment Av. Castelao"] 
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"] == "Marcial"]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,385,Berja,ES,19.0,few clouds,36.8469,-2.9497,Hotel Don Miguel Plaza de Berja

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center = (40.0, -5), zoom_level = 5)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,385,Berja,ES,19.00,few clouds,36.8469,-2.9497,Hotel Don Miguel Plaza de Berja
1,694,La Baneza,ES,22.78,few clouds,42.3003,-5.8977,Señorio De Los Bazan
2,327,Muros,ES,21.67,clear sky,42.7762,-9.0603,Apartment Av. Castelao
3,646,Naron,ES,18.89,clear sky,43.5167,-8.1528,Marcial

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (40.0, -5), zoom_level = 5)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))